<a href="https://colab.research.google.com/github/Omkarmadduri12/jntua-python/blob/master/Day9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mark Down
## Mark Down
### Mark Down
####Mark Down
#####Mark Down

**Points**

*points*

***Points***

In [1]:
print("hello,jntua")
print("hello,Jntua","|||","CHemical","|||","CSE","|||","MCA")

hello,jntua
hello,Jntua ||| CHemical ||| CSE ||| MCA


# **ASSIGNMENT**

In [6]:
n1=100 #single variable assignment
print(n1)
a=b=c=10 #multiple variable assigment with same value
print(a,b,c)
a1,b1,c1=100,200,300  #multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

#***Data Types and Conversions***





*   int
*   float


*   string

In [7]:
a=100
s1=10.2
s2="python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [8]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [10]:
#length
a=1234567
print(len(str(a)))

7

#Reading input From user --- input functions

In [11]:
a=input("enter your name")
print(a)
print(type(a))

enter your nameomkar
omkar
<class 'str'>

In [12]:
b=int(input("enter ur age"))
print(b)
print(type(b))

enter ur age22
22
<class 'int'>

#Operators


*   Operator is a symbol used to perform a specific kind of operation
*   List item

#Arithmetic operator


*   +
*   -

*   *
*   /

*   %
*   //
- **

In [15]:
a=1234
print(a+10)
print(a-10)
print(a*10)
print(a%10)
print(a/10)
print(a//10)
print(a**10)
b=2
print(b**4)

1244
1224
12340
4
123.4
123
8187505353567209228244052427776
16

#Relational operator
- =
- ==
- >
->=
- <
- <=

In [16]:
x=10
a=x>15
print(a)

False

#Logical Operator
- and
- or
- not

In [18]:
i=100
a=i>50 and i<800
a1=i>15 or i>800
l=not 10
print(a,a1)
print(l)

True True
False

#Control flow statenents 
-  conditional statements 
- looping statements

#if-else statements
## Syntax
# if Boolean_condition :
Statements
# else:
statements

In [19]:
# to check the number is even or odd
n=int(input("enter a number:"))
if n%2 == 0 :
  print(n,"is even number")
else:
  print(n,"is odd number")

enter a number:13
13 is odd number

In [21]:
#to check the number is multiples of 3 and 5
n=int(input("enter a number:"))
if n%3 == 0 and n%5==0 :
  print(n,"is multiple of 3 and 5")
else:
  print(n,"is not a multiple of 3 and 5")

enter a number:66
66 is not a multiple of 3 and 5

In [22]:
# to check the number is positive or negative
n=int(input("enter a number:"))
if n<0 :
  print(n,"is negative number")
else:
  print(n,"is positive number")

enter a number:-44
-44 is negative number

In [23]:
#find the largest of three numbers
n1=int(input("enter a number:"))
n2=int(input("enter a number:"))
n3=int(input("enter a number:"))
if n1>n2 and n1>n3:
  print(n1,"is largest")
elif n2>n3:
  print(n2,"is largest")
else:
  print(n3,"is largest")

enter a number:6
enter a number:8
enter a number:66
66 is largest

In [25]:
n=int(input("enter a number"))
if n%4==0 and n%100!=0 and n%400==0 :
  print(n,"is leap year")
else:
  print(n,"is not a leap year")

enter a number2016
2016 is not a leap year